header {
  z-index: 100;
  position: absolute;

  display: flex;
  justify-content: space-between;
  
  height: 70px;
  width: calc( 100% - 40px);
  
  top: 0;
  left: 20px;

  .logo{
    height: 100%;

    img {
      height: 100%;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;

    .first_logo {
        padding-top: 6px;

    }

    .last_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      
      color: black;
      background-color: #fff;
      
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}